<h1>About</h1>

<section class="span-15 colborder">
<h3>What is Toupee?</h3>
<p>I have found myself creating patterns. Over that time I have saved those patterns and turned them into a lean, customizable framework. That framework is Toupee. It ads a visual layer to your code. It is a visual framework built with advanced technologies like HTML5 and CSS3. It could be used for a prototype or pushed all the way to production. Stylesheets can be removed or added. Everything is loosely joined and highly customizable. Give it a try. Your feedback is also welcome. </p>

<h4>The philosophy</h4> 

<ul>
  <li>All sites have three visual layers</li>
  <li>Structure</li>
  <li>Base design</li>
  <li>Application specific</li>
</ul>

<p>This was designed to be flexible and customizable. If you don't want to use all the stylesheets, you don't have to. Or lets say you have want to use a different grid, just replace the provided grid with your grid of choice. There is always the option of not using a grid at all and just putting your layout styles in this file.</p>

<h3>What is Mustache?</h3>
<p>Mustache can be used for HTML, config files, source code - anything. It works by expanding tags in a template using values provided in a hash or object.</p>

<p>"logic-less" because there are no if statements, else clauses, or for loops. Instead there are only tags. Some tags are replaced with a value, some nothing, and others a series of values.</p>


<h3>What is Disguise?</h3>
<p>Disguise is the demo app that was created to show the powerful combination of Toupee and Mustache.</p>
</section>


<aside class="span-8 last">
  <p>This is the sidebar</p>
</aside>



