<h1>Buttons</h1>

<div class="span-19 colborder">

<section class="mod">
  <header>
    <h2>Examples of button usage</h2>
  </header>

  <article>
    <p>
    	<a href="#" class="button">Rectangle</a>  or
    	<a href="#" class="button rounded">Rounded</a> Can be
    	<a href="#" class="button medium">Medium</a> or 
    	<a href="#" class="button small">Small</a>
    </p>
  </article>
</section>

<section class="mod">
  <header>
    <h2>The button class can be used on any element</h2>
  </header>
  
  <article>
  	<input class="button" type="button" value="Input Element" /> 
  	<button class="button">Button Tag</button>
  	<span class="button">Span</span> 
  	<div class="button">Div</div> 
  	<p class="button">P Tag</p> 
  	<h3 class="button">H3</h3>
  </article>
</section>

<section class="mod">
  <header>
    <h2>Secondary Button style</h2>
  </header>
  
  <article>
  	<input class="button second" type="button" value="Input Element" /> 
  	<button class="button second">Button Tag</button>
  	<span class="button second">Span</span> 
  	<div class="button second">Div</div> 
  	<p class="button second">P Tag</p> 
  	<h3 class="button second">H3</h3>
	</article>
</section>

<section class="mod">
  <header>
    <h2>Tertiary Button style</h2>
  </header>
  
  <article>
  	<input class="button third" type="button" value="Input Element" /> 
  	<button class="button third">Button Tag</button>
  	<span class="button third">Span</span> 
  	<div class="button third">Div</div> 
  	<p class="button third">P Tag</p> 
  	<h3 class="button third">H3</h3>
	</article>
</section>


</div>

<aside class="span-4 last">
  <!-- <section class="mod box">
    <header>
      <h2>Button inspiration</h2>
    </header>
    <article>
    </article>
  </section> -->
</aside>