<h1>Buttons</h1>

<article class="span-17 colborder">
<h2>Examples of button usage</h2>

<p>
	<a href="#" class="button">Rectangle</a>  or
	<a href="#" class="button rounded">Rounded</a> Can be
	<a href="#" class="button medium">Medium</a> or 
	<a href="#" class="button small">Small</a>
</p>

<h3>The button class can be used on any element</h3>
	<input class="button" type="button" value="Input Element" /> 
	<button class="button">Button Tag</button>
	<span class="button">Span</span> 
	<div class="button">Div</div> 
	<p class="button">P Tag</p> 
	<h3 class="button">H3</h3>


<h3>Secondary Button style</h3>
	<input class="button second" type="button" value="Input Element" /> 
	<button class="button second">Button Tag</button>
	<span class="button second">Span</span> 
	<div class="button second">Div</div> 
	<p class="button second">P Tag</p> 
	<h3 class="button second">H3</h3>


<h3>Tertiary Button style</h3>
	<input class="button third" type="button" value="Input Element" /> 
	<button class="button third">Button Tag</button>
	<span class="button third">Span</span> 
	<div class="button third">Div</div> 
	<p class="button third">P Tag</p> 
	<h3 class="button third">H3</h3>
</article>

<aside class="span-6 last">
  <div class="mod box">
    <div class="hd">
      <h2>Button inspiration</h2>
    </div>
    <div class="bd">
    </div>
  </div>
</aside>