<form action="">
	<fieldset>
	  <legend>Basic Form Styles</legend>
		<ul>
			<li>
				<label>Text Input</label>
				<input class="text" type="text" name="foo" />
			</li>
			<li>
				<label>Password Input</label>
				<input class="text" type="password" value="" name="password" />
			</li>
			<li class="inline">
				<label><input class="checkbox" type="checkbox" name="foo" /> Checkbox Input</label>
				<label><input class="checkbox" type="checkbox" name="foo" /> Checkbox Input</label>
				<label><input class="checkbox" type="checkbox" name="foo" /> Checkbox Input</label>
			</li>
			<li>
				<h5>Checkboxes -- Stacked and Inline</h5>
				<label><input class="radio" type="radio" name="foo" value="bar" /> Radio Input</label>
				<label><input class="radio" type="radio" name="foo" value="bin" /> Radio Input</label>
				<label><input class="radio" type="radio" name="foo" value="bash" /> Radio Input</label>
			</li>
			<li class="inline">
				<label><input class="radio" type="radio" name="blah" value="bar" /> Radio Input</label>
				<label><input class="radio" type="radio" name="blah" value="bin" /> Radio Input</label>
				<label><input class="radio" type="radio" name="blah" value="bash" /> Radio Input</label>
			</li>
			<li class="submit">
				<h5>Submit Input</h5>
				<input class="button medium" type="submit" name="foo" />
			</li>
			<li>
				<h5>File Input</h5>
				<label class="file-label"><input class="file" type="file" name="foo" /></label>
			</li>
			<li>
				<h5>Button Input <a class="small" href="/buttons">more button examples</a></h5>
				<input class="button large" type="button" name="foo" value="The Button" />
				<input class="button medium" type="button" name="foo" value="The Button" />
				<input class="button small" type="button" name="foo" value="The Button" />
			</li>
			<li>
				<label>Textarea <span class="required">*</span></label>
				<textarea class="textarea"></textarea>
			</li>
		</ul>
	</fieldset>
</form>