<footer> 
	<div class="container">
		<p><a href="https://github.com/marchdoe/toupee">Toupee</a> and <a href="https://github.com/marchdoe/disguise">Disguise</a> are brought to you by <a href="#">Doug March</a> || <a href="http://mustache.github.com/">Mustache</a> is the creation of <a href="#">Chris Wanstrath</a></p>
	</div>
</footer>