<section>
<h2>Form Styles</h2>
<article>
	
<h2>Basic Form Styles</h2>	
<!-- VARIOUS FORM ELEMENTS -->
{{> elements}}
<figure class="brush: html">
{{> elements}}
</figure>

<!-- EXAMPLE == LOGIN -->
<h2>Login</h2>
{{> login}}
<figure class="brush: html">
{{> login}}
</figure>

<!-- EXAMPLE == REGISTRATION -->
<h2>Registration</h2>
{{> registration}}
<figure class="brush: html">	
{{> registration}}
</figure>

<!-- EXAMPLE == SEARCH MODULE -->
{{> search-module}}
<figure class="brush: html">
{{> search-module}}
</figure>

</article>
</section>