<section>
	<h1>Form Styles</h1>

	<article>
		<div class="title">
			<h2>Basic Form Styles</h2>	
		</div>
		
		<!-- VARIOUS FORM ELEMENTS -->
		{{> elements}}
		<figure class="brush: html">	
		{{> elements}}
		</figure>


		<!-- EXAMPLE LOGIN PAGE -->
		<div class="title">
			<h2>Login</h2>	
		</div>

		{{> login}}
		<figure class="brush: html">	
		{{> login}}
		</figure>


		<!-- EXAMPLE REGISTRATION PAGE -->
		<div class="title">
			<h2>Registration</h2>	
		</div>

		{{> registration}}
		<figure class="brush: html">	
		{{> registration}}
		</figure>
	</article>
</section>