<h1>The Grid</h1>

<section id="grid">

<h3>About the Grid</h3>
<p>The out of the box grid ....</p>

<h3>Possible Example Grids:</h3>
<ul class="sub-nav inline">
	<li><a href="#wide-right">two-column wide-right</a></li>
	<li><a href="#wide-left">two-column wide-left</a></li>
	<li><a href="#three-columns">three-columns</a></li>
</ul>

<a id="wide-right"></a>
{{> wide-right}}
<hr />
<figure class="brush: html">
{{> wide-right}}
</figure>

<a id="wide-left"></a>
{{> wide-left}}
<hr />
<figure class="brush: html">
{{> wide-left}}
</figure>

<a id="three-columns"></a>
{{> three-column}}
<hr />
<figure class="brush: html">
{{> three-column}}
</figure>

</section>

<!-- <aside class="span-8 last">
  <div class="mod box">
    <div class="hd">
      <h2>Reset inspiration</h2>
    </div>
    <div class="bd">
    </div>
  </div>
</aside> -->
