<header> 
	<h1>{{title}}</h1>
	<p>{{content}}</p>
	<nav>
		<ul>
			<li><a href="#">tab 1</a></li>
			<li><a href="#">tab 2</a></li>
			<li><a href="#">tab 3</a></li>
			<li><a href="#">tab 4</a></li>
			<li><a href="#">tab 5</a></li>
		</ul>
	</nav>
</header>