<header>
  <div class="container">
    <div class="span-6 brand">
      <h1><a href="/">{{title}}</a></h1>
    </div>
    <nav class="span-18 last">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/reset">reset</a></li>
        <li><a href="/structure">structure</a></li>
        <li><a href="/typography">typography</a></li>
        <li><a href="/forms">forms</a></li>
        <li><a href="/buttons">buttons</a></li>
        <li><a href="/modules">modules</a></li>
        <li><a href="/base">base</a></li>
        <li><a href="/application">application</a></li>
      </ul>
    </nav>
  </div>
</header>