<header>
	<div class="container"> 
		<h1><a href="/">{{title}}</a></h1>
		<p>{{content}}</p>
		<nav>
			<ul>
				<li><a href="/about">about disguise</a></li>
				<li><a href="/reset">reset</a></li>
				<li><a href="/grid">grid</a></li>
				<li><a href="/typography">typography</a></li>
				<li><a href="/forms">forms</a></li>
				<li><a href="/buttons">buttons</a></li>
				<li><a href="/modules">modules</a></li>
				<li><a href="/base">base</a></li>
				<li><a href="/application">application</a></li>
			</ul>
		</nav>
	</div>
</header>