<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>

	<link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/forms.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/buttons.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/typography.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/base.css" media="screen" rel="stylesheet" type="text/css" />

	<!-- <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /> -->
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>
