<form action="#">
<fieldset>
<ul class="inline center">
	<li>
    	<label for="user_session_username">Username</label>
    	<input type="text" size="30" name="user_session[username]" id="user_session_username" class="text"/>
	</li>
	
	<li>
    	<label for="user_session_password">Password</label>
    	<input type="password" size="30" name="user_session[password]" id="user_session_password" class="text"/>
	</li>
	
	<li class="submit">
		<input class="button medium" type="submit" value="Submit" name="commit" id="user_session_submit" />
	</li>
</ul>
</fieldset>
</form>