<div class="span-7 colborder mod">
	<div class="hd">
		<h2>Module</h2>
	</div>

	<div class="bd">
		<p>Module body content</p>
	</div>

	<div class="ft">
		<p>Module footer content</p>
	</div>
</div>

<div class="span-7 colborder mod">
	<div class="hd">
		<h2>Module</h2>
	</div>

	<div class="bd">
		<p>Module body content</p>
	</div>

	<div class="ft">
		<p>Module footer content</p>
	</div>
</div>

<div class="span-8 last mod box">
	<div class="hd">
		<h2>Module</h2>
	</div>

	<div class="bd">
		<p>Module body content</p>
	</div>

	<div class="ft">
		<p>Module footer content</p>
	</div>
</div>

<div class="span-7 colborder mod">
	<div class="hd">
		<h2>Module</h2>
	</div>

	<div class="bd">
		<p>Module body content</p>
	</div>

	<div class="ft">
		<p>Module footer content</p>
	</div>
</div>

<div class="span-16 last mod box">
	<div class="hd">
		<h2>Module</h2>
	</div>

	<div class="bd">
		<p>Module body content</p>
	</div>

	<div class="ft">
		<p>Module footer content</p>
	</div>
</div>

<div class="span-24 mod">
	<div class="hd">
		<h2>Module</h2>
	</div>

	<div class="bd">
		<p>Module body content</p>
	</div>

	<div class="ft">
		<p>Module footer content</p>
	</div>
</div>
