<h1>Module Demo</h1>

<section class="span-7 colborder mod">
	<header>
		<h2>Promo module</h2>
	</header>

	<article>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat, tortor vel dignissim ultricies, velit urna luctus tellus, ut convallis velit felis et lorem.</p>
	</article>

	<footer>
		<p><a href="#">View more</a> &rarr;</p>
	</footer>
</section>

<section class="span-7 colborder mod">
	<header>
		<h2>List module</h2>
	</header>

	<article>
		<p class="reset">Module body content</p>
		<ul>
		  <li><a href="#">List Item Number 1</a></li>
		  <li><a href="#">List Item Number 1</a></li>
		  <li><a href="#">List Item Number 1</a></li>
		</ul>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-8 last mod box">
	<header>
		<h2>Promo module "box"</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-7 colborder mod">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-16 last mod box">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-24 mod">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

