<h1>Module Demo</h1>

<section class="span-7 colborder mod">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-7 colborder mod">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-8 last mod box">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-7 colborder mod">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-16 last mod box">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

<section class="span-24 mod">
	<header>
		<h2>Module</h2>
	</header>

	<article>
		<p>Module body content</p>
	</article>

	<footer>
		<p>Module footer content</p>
	</footer>
</section>

