<aside> 
	
	<section class="span-7 colborder mod">
		<header>
			<h2>What is Toupee?</h2>
		</header>

		<article>
			<p>Toupee is a simple flexible visual framework. Pieces can be added or subtracted depending on what you need or want, it is all just part of the "disguise"</p>
		</article>

		<footer>
			<p><a href="#">Learn more</a> &rarr;</p>
		</footer>
	</section>

	<section class="span-7 colborder mod">
		<header>
			<h2>What is Mustache?</h2>
		</header>

		<article>
			<p>Mustache can be used for HTML, config files, source code - anything. It works by expanding tags in a template using values provided in a hash or object.</p>
		</article>

		<footer>
			<p><a href="#">Learn more</a> &rarr;</p>
		</footer>
	</section>

	<section class="span-7 colborder last box mod">
		<header>
			<h2>That's A Disguise</h2>
		</header>

		<article>
			<p>Disguise is a demo to show the power of Toupee and Mustache.</p>
		</article>

	</section>
		
</aside>