<aside> 
	
	<div class="span-7 colborder mod">
		<div class="hd">
			<h2>What is Toupee?</h2>
		</div>

		<div class="bd">
			<p>Toupee is a simple flexible visual framework. Pieces can be added or subtracted depending on what you need or want, it is all just part of the "disguise"</p>
		</div>

		<div class="ft">
			<p>Module footer content</p>
		</div>
	</div>

	<div class="span-7 colborder mod">
		<div class="hd">
			<h2>What is Mustache?</h2>
		</div>

		<div class="bd">
			<p>Module body content</p>
		</div>

		<div class="ft">
			<p>Module footer content</p>
		</div>
	</div>

	<div class="span-7 colborder last box mod">
		<div class="hd">
			<h2>That's A Disguise</h2>
		</div>

		<div class="bd">
			<p>Module body content</p>
		</div>

		<div class="ft">
			<p>Module footer content</p>
		</div>
	</div>
		
</aside>