<form action="#">
<fieldset>
	<ul class="inline center">
	    <li>
			<label for="user_username">Username</label>
	    	<input type="text" size="30" name="user[username]" id="user_username" class="text"/>
		</li>

	    <li>
			<label for="user_email">Email</label>
	    	<input type="text" size="30" name="user[email]" id="user_email" class="text"/>
		</li>

	    <li>
			<label for="user_password">Password</label>
	    	<input type="password" size="30" name="user[password]" id="user_password" class="text"/>
		</li>

	    <li>	
			<label for="user_password_confirmation">Confirm password</label>
			<input type="password" size="30" name="user[password_confirmation]" id="user_password_confirmation" class="text"/>
		</li>

		<li class="submit">
			<input class="button medium" type="submit" value="Submit" name="commit" id="user_submit"/>
		</li>
	</ul>
</fieldset>
</form>