<h1>Reset</h1>

<section class="span-15 colborder">

<p>All browsers come with default styles, the goal of a reset stylesheet is to reduce browser inconsistencies and give you a blank slate to start your site</p>

<p>My reset of choice is Eric Meyer's <a href="http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/">reset reloaded</a> in Toupee however any reset can be placed in this file.</p>

<figure class="brush: css">
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, code,
	del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, dialog, figure, footer, header,
	hgroup, nav, section {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-weight: inherit;
	  font-style: inherit;
	  font-size: 100%;
	  font-family: inherit;
	  vertical-align: baseline;
	}

	article, aside, dialog, figure, footer, header,
	hgroup, nav, section {
	    display:block;
	}

	body {
	  line-height: 1.5;
	}

	/* Tables still need 'cellspacing="0"' in the markup. */
	table { border-collapse: separate; border-spacing: 0; }
	caption, th, td { text-align: left; font-weight: normal; }
	table, td, th { vertical-align: middle; }

	/* Remove possible quote marks (") from q, blockquote. */
	blockquote:before, blockquote:after, q:before, q:after { content: ""; }
	blockquote, q { quotes: "" ""; }

	/* Remove annoying border on linked images. */
	a img { border: none; }
</figure>
</section>

<aside class="span-8 last">
  <div class="mod box">
    <div class="hd">
      <h2>Reset inspiration</h2>
    </div>
    <div class="bd">
    </div>
  </div>
</aside>