<section class="mod search">
<header><h2>Search Module Example</h2></header>
<article>
	<form action="#">
		<fieldset>
			<ul>
				<li class="searchform">
					<input type="text" value="Search..." size="55" name="q" class="searchfield" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}">
					<input type="submit" value="Search" name="commit" class="button medium">
				</li>
			</ul>
		</fieldset>
	</form>
</article>
</section>