<h1>The Structure</h1>

<section id="structure">
  <h3>About the Structure</h3>
  <p>The out of the box structure ....</p>

  <h3>Possible Example layouts:</h3>
  <ul class="sub-nav inline">
  	<li><a href="#wide-right">two-column wide-right</a></li>
  	<li><a href="#wide-left">two-column wide-left</a></li>
  	<li><a href="#three-columns">three-columns</a></li>
  </ul>

  <a id="wide-right"></a>
  {{> wide-right}}
  <hr />
  <figure class="brush: html">
  {{> wide-right}}
  </figure>

  <a id="wide-left"></a>
  {{> wide-left}}
  <hr />
  <figure class="brush: html">
  {{> wide-left}}
  </figure>

  <a id="three-columns"></a>
  {{> three-column}}
  <hr />
  <figure class="brush: html">
  {{> three-column}}
  </figure>
</section>
