<section>
	<h1>Three Column</h1>
	<aside class="span-4">
		<p>This is the sidebar</p>
	</aside>

	<article class="span-14">
		<p>This is the content area</p>
	</article>

	<aside class="span-6 last">
		<p>This is the sidebar</p>
	</aside>
</section>
<hr />