<section>
	<h1>Three Column</h1>
	<aside class="span-4">
		<p>Aside</p>
	</aside>

	<article class="span-14">
		<p>Article</p>
	</article>

	<aside class="span-6 last">
		<p>Aside</p>
	</aside>
</section>