<h1>Typography</h1>

<section  class="span-15 colborder">

	<div class="title">
		<h2><a id="headings">Headings</a></h2>
		<h3>h1</h3>	
	</div>

	<h1>This is what an "h1" looks like </h1>

	<figure class="brush: html">	
		<h1>This is how you code an </h1>
	</figure>

	<div class="title">
		<h3>h2</h3>	
	</div>

	<h2>This is what an "h2" looks like </h2>

	<figure class="brush: html">	
		<h2>This is what an "h2" looks like </h2>
	</figure>


	<div class="title">
		<h3>h3</h3>	
	</div>

	<h3>This is what an "h3" looks like </h3>

	<figure class="brush: html">	
		<h3>This is what an "h3" looks like </h3>
	</figure>




	<div class="title">
		<h3>h4</h3>	
	</div>

	<h4>This is what an "h4" looks like </h4>

	<figure class="brush: html">	
		<h4>This is what an "h4" looks like </h4>
	</figure>



	<div class="title">
		<h3>h5</h3>	
	</div>

	<h5>This is what an "h5" looks like </h5>

	<figure class="brush: html">	
		<h5>This is what an "h5" looks like </h5>
	</figure>




	<div class="title">
		<h2><a id="basic-text-elements">Basic Text Elements</a></h2>
		<h3>p</h3>	
	</div>

	<p>Quisque in tortor risus. Donec mattis purus eros, eget consectetur mi. Duis tempor fringilla sapien, id scelerisque sem molestie ut. Sed vitae dui non tellus interdum mattis. Phasellus in lectus ligula. Suspendisse sed lobortis orci. Nullam nibh quam, luctus sit amet convallis hendrerit, vehicula quis quam. </p>

	<p>Donec porttitor tempor ultricies. Nullam nisl velit, rhoncus sit amet suscipit ut, scelerisque eget dolor. Nunc sollicitudin justo eget nisi sagittis eu sollicitudin purus porta. Aliquam erat volutpat. Suspendisse luctus sem at felis porta in mollis ipsum facilisis. Fusce ac neque nibh.</p>

	<figure class="brush: html">	
		<p>Quisque in tortor risus. Donec mattis purus eros, eget consectetur mi. Duis tempor fringilla sapien, id scelerisque sem molestie ut. Sed vitae dui non tellus interdum mattis. Phasellus in lectus ligula. Suspendisse sed lobortis orci. Nullam nibh quam, luctus sit amet convallis hendrerit, vehicula quis quam. </p>

		<p>Donec porttitor tempor ultricies. Nullam nisl velit, rhoncus sit amet suscipit ut, scelerisque eget dolor. Nunc sollicitudin justo eget nisi sagittis eu sollicitudin purus porta. Aliquam erat volutpat. Suspendisse luctus sem at felis porta in mollis ipsum facilisis. Fusce ac neque nibh.</p>
	</figure>



	<div class="title">
		<h2><a id="lists">Lists</a></h2>
		<h3>ul - An Unordered List</h3>
	</div>

	<ul>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
	</ul>

	<figure class="brush: html">	
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>
	</figure>


	<div class="title">
		<h3>ol - An Ordered List</h3>
	</div>
	
	<ol>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
		<li>blah</li>
	</ol>

	<figure class="brush: html">	
		<ol>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ol>
	</figure>


	<div class="title">
		<h2><a id="table-styles">Tables</a></h2>
		<h3>table</h3>	
	</div>

	<table cellspacing="0">
	  <tbody>
	  <tr>
	    <th scope="col" class="name">Header one</th>
	    <th scope="col">Header two</th>
	    <th scope="col">Header three</th>
		<th scope="col">Header four</th>
	  </tr>

	  <tr>
	    <td class="name">blah blah</td>
	    <td>blah 2 blah 2</td>
	    <td>blah 3 blah 3</td>
	    <td>blah 4 blah 4</td>
	  </tr>

	  <tr class="alt">
	    <td class="name">blah blah</td>
	    <td>blah 2 blah 2</td>
	    <td>blah 3 blah 3</td>
	    <td>blah 4 blah 4</td>
	  </tr>

	  <tr>
	    <td class="name">blah blah</td>
	    <td>blah 2 blah 2</td>
	    <td>blah 3 blah 3</td>
	    <td>blah 4 blah 4</td>
	  </tr>

	  <tr class="alt last">
	    <td class="name">blah blah</td>
	    <td>blah 2 blah 2</td>
	    <td>blah 3 blah 3</td>
	    <td>blah 4 blah 4</td>
	  </tr>
	  </tbody>
	</table>

	<figure class="brush: html">
		<table cellspacing="0">
		  <tbody>
		  <tr>
		    <th scope="col" class="name">Header one</th>
		    <th scope="col">Header two</th>
		    <th scope="col">Header three</th>
			<th scope="col">Header four</th>
		  </tr>

		  <tr>
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>

		  <tr class="alt">
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>

		  <tr>
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>

		  <tr class="alt last">
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>
		  </tbody>
		</table>
	</figure>


	<div class="title">
		<h2><a id="misc-classes">Miscellaneous Classes</a></h2>	
	</div>

	<p class="small">This is an example of the class "small"</p>
	<p class="large">This is an example of the class "large"</p>
	<p class="hide">This is an example of the class "hide"</p>
	<p class="quiet">This is an example of the class "quiet"</p>
	<p class="loud">This is an example of the class "loud"</p>
	<p class="highlight">This is an example of the class "highlight"</p>
	<p class="success">This is an example of the class "added"</p>
	<p class="error">This is an example of the class "error"</p>
	<p class="pending">This is an example of the class "pending"</p>
	<p class="removed">This is an example of the class "removed"</p>

	<p>&larr; view previous</p>
	<p>view more &rarr;</p>

</section>

<aside class="span-8 last">
  <section class="mod">
    <header>
      <h2>Typography styles</h2>
    </header>
    <article>
      <ul class="sub-nav">
        <li><a href="#headings">Headings</a></li>
        <li><a href="#basic-text-elements">Basic Text Elements</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#table-styles">Table Styles</a></li>
        <li><a href="#misc-classes">Miscellaneous Classes</a></li>
      </ul>
    </article>
  </section>
</aside>