<section>

<h1>Typography Examples:</h1>
	
	<aside class="span-5 colborder">
		<ul class="sub-nav">
			<li><a href="#headings">Headings</a></li>
			<li><a href="#basic-text-elements">Basic Text Elements</a></li>
			<li><a href="#lists">Lists</a></li>
			<li><a href="#table-styles">Table Styles</a></li>
			<li><a href="#misc-classes">Miscellaneous Classes</a></li>
		</ul>
	</aside>


	<article class="span-18 last">
	
		<div class="title">
			<h2><a id="headings">Headings</a></h2>
			<h3>h1 <strong>Usage:</strong> Used only one time on each page and contains a title that best describes what the user is looking at</h3>	
		</div>

		<h1>This is what an "h1" looks like </h1>

		<figure class="brush: html">	
			<h1>This is how you code an </h1>
		</figure>



		<div class="title">
			<h3>h2 <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<h2>This is what an "h2" looks like </h2>

		<figure class="brush: html">	
			<h2>This is what an "h2" looks like </h2>
		</figure>




		<div class="title">
			<h3>h3 <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<h3>This is what an "h3" looks like </h3>

		<figure class="brush: html">	
			<h3>This is what an "h3" looks like </h3>
		</figure>




		<div class="title">
			<h3>h4 <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<h4>This is what an "h4" looks like </h4>

		<figure class="brush: html">	
			<h4>This is what an "h4" looks like </h4>
		</figure>





		<div class="title">
			<h3>h5 <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<h5>This is what an "h5" looks like </h5>

		<figure class="brush: html">	
			<h5>This is what an "h5" looks like </h5>
		</figure>





		<div class="title">
			<h2><a id="basic-text-elements">Basic Text Elements</a></h2>
			<h3>p <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<p>Quisque in tortor risus. Donec mattis purus eros, eget consectetur mi. Duis tempor fringilla sapien, id scelerisque sem molestie ut. Sed vitae dui non tellus interdum mattis. Phasellus in lectus ligula. Suspendisse sed lobortis orci. Nullam nibh quam, luctus sit amet convallis hendrerit, vehicula quis quam. </p>

		<p>Donec porttitor tempor ultricies. Nullam nisl velit, rhoncus sit amet suscipit ut, scelerisque eget dolor. Nunc sollicitudin justo eget nisi sagittis eu sollicitudin purus porta. Aliquam erat volutpat. Suspendisse luctus sem at felis porta in mollis ipsum facilisis. Fusce ac neque nibh.</p>

		<figure class="brush: html">	
			<p>Quisque in tortor risus. Donec mattis purus eros, eget consectetur mi. Duis tempor fringilla sapien, id scelerisque sem molestie ut. Sed vitae dui non tellus interdum mattis. Phasellus in lectus ligula. Suspendisse sed lobortis orci. Nullam nibh quam, luctus sit amet convallis hendrerit, vehicula quis quam. </p>

			<p>Donec porttitor tempor ultricies. Nullam nisl velit, rhoncus sit amet suscipit ut, scelerisque eget dolor. Nunc sollicitudin justo eget nisi sagittis eu sollicitudin purus porta. Aliquam erat volutpat. Suspendisse luctus sem at felis porta in mollis ipsum facilisis. Fusce ac neque nibh.</p>
		</figure>






		<div class="title">
			<h2><a id="lists">Lists</a></h2>
			<h3>ul <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<h3>An Unordered List</h3>
		<ul>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ul>

		<figure class="brush: html">	
			<ul>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
			</ul>
		</figure>





		<div class="title">
			<h3>ol <strong>Usage:</strong> this is where you put what the module is used for</h3>	
		</div>

		<h3>An Ordered List</h3>
		<ol>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
			<li>blah</li>
		</ol>

		<figure class="brush: html">	
			<ol>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
				<li>blah</li>
			</ol>
		</figure>



		<div class="title">
			<h2><a id="table-styles">Tables</a></h2>
			<h3>table <strong>Usage:</strong> Default table style</h3>	
		</div>

		<table id="" cellspacing="0" summary="">
		  <tr>
		    <th scope="col" class="name left">Header one</th>
		    <th scope="col">Header two</th>
		    <th scope="col">Header three</th>
			<th scope="col" class="right">Header four</th>
		  </tr>
 
		  <tr>
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>
 
		  <tr class="alt">
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>

		  <tr>
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>
 
		  <tr class="alt last">
		    <td class="name">blah blah</td>
		    <td>blah 2 blah 2</td>
		    <td>blah 3 blah 3</td>
		    <td>blah 4 blah 4</td>
		  </tr>
		</table>
	
		<figure class="brush: html">
			<table id="" cellspacing="0" summary="">
			  <tr>
			    <th scope="col" class="name left">Header one</th>
			    <th scope="col">Header two</th>
			    <th scope="col">Header three</th>
				<th scope="col" class="right">Header four</th>
			  </tr>
 
			  <tr>
			    <td class="name">blah blah</td>
			    <td>blah 2 blah 2</td>
			    <td>blah 3 blah 3</td>
			    <td>blah 4 blah 4</td>
			  </tr>
 
			  <tr class="alt">
			    <td class="name">blah blah</td>
			    <td>blah 2 blah 2</td>
			    <td>blah 3 blah 3</td>
			    <td>blah 4 blah 4</td>
			  </tr>

			  <tr>
			    <td class="name">blah blah</td>
			    <td>blah 2 blah 2</td>
			    <td>blah 3 blah 3</td>
			    <td>blah 4 blah 4</td>
			  </tr>
 
			  <tr class="alt last">
			    <td class="name">blah blah</td>
			    <td>blah 2 blah 2</td>
			    <td>blah 3 blah 3</td>
			    <td>blah 4 blah 4</td>
			  </tr>
			</table>
		</figure>



		<div class="title">
			<h2><a id="misc-classes">Miscellaneous Classes</a></h2>	
		</div>

		<p class="small">This is an example of the class "small"</p>
		<p class="large">This is an example of the class "large"</p>
		<p class="hide">This is an example of the class "hide"</p>
		<p class="quiet">This is an example of the class "quiet"</p>
		<p class="loud">This is an example of the class "loud"</p>
		<p class="highlight">This is an example of the class "highlight"</p>
		<p class="added">This is an example of the class "added"</p>
		<p class="removed">This is an example of the class "removed"</p>
		<p class="error">This is an example of the class "error"</p>
		<p class="pending">This is an example of the class "pending"</p>
		<p class="bottom">This is an example of the class "bottom"</p>
		<p class="first">This is an example of the class "first"</p>
		<p class="last">This is an example of the class "last"</p>
		<p class="top">This is an example of the class "top"</p>

		<p>&larr; view previous</p>
		<p>view more &rarr;</p>
	
	</article>
</section>