<section>
<h1>Two-column - Wide Right</h1>
	<aside class="span-8">
		<p>This is the sidebar</p>
	</aside>

	<article class="span-16 last">
		<p>This is the content area</p>
	</article>
</section>
<hr />